body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px 0 ;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url("https://via.placeholder.com/150") ;
    background-size: cover;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.hero h2 {
    margin: 0;
}

.btn {
    background-color: #ff5722;
    color: #fff;
    padding: 12px 15px;
    text-decoration: none;
    border-radius: 8px;
}

.products {
    padding: 25px 0;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    border: 12px solid #ddd;
    padding: 12px;
    margin: 10px;
    text-align: center;
    width: 23%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 12px 0;
}
/*الانتقالات*/

.product-ite {
    margin: auto;
    border: 5px solid #ddd;
    padding: 10px;
    
    text-align: center;
    width: 24%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
iframe{

    text-align: center;
}
/*الانتقالات*/
